@using Core.Constants
@using Web.Areas.Admin.ViewModels.Find
@model FindCreateVM

<div class="bg-secondary rounded h-100 p-4">
    <h1 style="color:#eb1616">CREATE</h1>
    <form enctype="multipart/form-data" asp-action="create" asp-controller="find" method="post">
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Title" />
            <label asp-for="Title">Title</label>
            <span asp-validation-for="Title"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="MainPhoto">MainPhoto</label>
            <input class="form-control bg-dark" class="form-control" asp-for="MainPhoto">
            <span asp-validation-for="MainPhoto"></span>
        </div>

        <button type="submit" class="btn btn-success m-2">Create</button>
        <a class="btn btn-primary m-2" asp-action="index" asp-controller="productcategory">Cancel</a>
    </form>
</div>

