@using Core.Constants
@using Web.Areas.Admin.ViewModels.ContactInfo
@model ContactInfoUpdateVM


<div class="bg-secondary rounded h-100 p-4">
    <h1 style="color:#eb1616">UPDATE</h1>
    <form enctype="multipart/form-data" asp-action="update" asp-controller="contactinfo" method="post">
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Address" />
            <label asp-for="Address">Address</label>
            <span asp-validation-for="Address"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" asp-for="Email" />
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Phone" />
            <label  asp-for="Phone">Phone</label>
            <span asp-validation-for="Phone"></span>
        </div>
           <div class="form-floating mb-3">
            <input class="form-control" asp-for="Website" />
            <label asp-for="Website">Website</label>
            <span asp-validation-for="Website"></span>
        </div>
        <button type="submit" class="btn btn-success m-2">Update</button>
        <a class="btn btn-primary m-2" asp-action="index" asp-controller="contactinfo">Cancel</a>
    </form>
</div>


