@using Core.Constants
@using Web.Areas.Admin.ViewModels.Testimonial
@model TestimonialCreateVM




<div class="bg-secondary rounded h-100 p-4">
    <h1 style="color:#eb1616">CREATE</h1>
    <form enctype="multipart/form-data" asp-action="create" asp-controller="testimonial" method="post">
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="FullName" />
            <label asp-for="FullName">FullName</label>
            <span asp-validation-for="FullName"></span>
        </div>
       <div class="input-group mb-3">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" asp-for="Description" aria-label="With textarea" style="height: 38px;"></textarea>
            <label style="display:none" asp-for="Description"></label>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="MainPhoto">MainPhoto</label>
            <input class="form-control bg-dark" class="form-control" asp-for="MainPhoto">
            <span asp-validation-for="MainPhoto"></span>
        </div>

        <button type="submit" class="btn btn-success m-2">Create</button>
        <a class="btn btn-primary m-2" asp-action="index" asp-controller="testimonial">Cancel</a>
    </form>
</div>
