@using Web.Areas.Admin.ViewModels.Product
@model ProductAddTagsVM

@{
    var productId = Context.Request.RouteValues["id"];
}

<form asp-action="addtags" asp-controller="product" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="ProductId" value="@productId" />
    <label class="d-block" asp-for="TagsIds"></label>
    <select class="form-select" multiple asp-for="TagsIds" asp-items="Model.Tags" aria-label="multiple select example">
        <option selected="">Open this select menu</option>
    </select>
    <div class="form-group">
        <button class="btn btn-success">Add</button>
        <a class="btn btn-danger" asp-action="index" asp-controller="product">Cancel</a>
    </div>
</form>


