@using Web.Areas.Admin.ViewModels.Product
@model ProductUpdateVM

<form enctype="multipart/form-data" asp-action="update" asp-controller="product" method="post">

     <div class="form-group">
        <label asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title">
        <span asp-validation-for="Title"></span>
    </div>
      <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input class="form-control" asp-for="Price">
        <span asp-validation-for="Price"></span>
    </div>
      <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories"></select>
        <span asp-validation-for="CategoryId"></span>
    </div>
      <div class="form-group">
        <label asp-for="BrandId">Brand</label>
        <select class="form-select" asp-for="BrandId" asp-items="Model.Brands"></select>
        <span asp-validation-for="BrandId"></span>
    </div>
      <div class="form-group">
        <label asp-for="MainPhoto">MainPhoto</label>
        <input class="form-control" asp-for="MainPhoto">
        <span asp-validation-for="MainPhoto"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-danger" asp-action="index" asp-controller="product">Cancel</a>
</form>