@using Web.Areas.Admin.ViewModels.Tag
@model TagAddProductsVM

<form asp-action="addproducts" asp-controller="tag" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="TagId" />
    <div class="form-group">
        <label class="d-block" asp-for="ProductsIds"></label>
        <select multiple asp-for="ProductsIds" asp-items="Model.Products"></select>
    </div>
    <div class="form-group">
        <button class="btn btn-success">Add</button>
        <a class="btn btn-primary m-2" asp-action="index" asp-controller="tag">Cancel</a>
    </div>
</form>
