@using Core.Constans
@using Core.Constants

@using System.Web
@using Web.ViewModels.Contact
@model ContactIndexVM

<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="first-sec dealofday intro aos-init aos-animate">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">CONTACT</span></p>
        <h4 class="h4-intro">CONTACT</h4>
    </div>
</section>


@if (Model.ContactInfo != null)
{
    <section>

        <!-- contact -->
        <div>

            <div class="container">
                <div class="row">
                    <div data-aos="fade-left" class="col-md-3">
                        <div class="icongagas">
                            <div class="icongagas__icon">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div class="icongagas__text">
                                <p>
                                    <span style="font-weight: 700;color: black;">Address:</span>
                                    @Model.ContactInfo.Address
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-md-3">
                        <div class="icongagas">
                            <div class="icongagas__icon">
                                <span style="margin-left: 48px;" class="fa fa-phone"></span>
                            </div>
                            <div class="icongagas__text">
                                <p>
                                    <span style="font-weight: 700;color: black;">Phone:</span>
                                    @Model.ContactInfo.Phone
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-md-3">
                        <div class="icongagas">
                            <div class="icongagas__icon">
                                <span style="margin-left: 45px;" class="fa fa-paper-plane"></span>
                            </div>
                            <div class="icongagas__text">
                                <p>
                                    <span style="font-weight: 700;color: black;">Email:</span>
                                    @Model.ContactInfo.Email
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-right" class="col-md-3">
                        <div class="icongagas">
                            <div class="icongagas__icon">
                                <span style="margin-left:46px;" class="fa fa-globe"></span>
                            </div>
                            <div class="icongagas__text">
                                <p>
                                    <span style="font-weight: 700;color: black;">Website :</span>
                                    @Model.ContactInfo.Website
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>

}



<section class="ftco-section">
    <div class="container">
        <div class="row mt-4 justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters mb-5">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div id="map">
                                <iframe data-aos="fade-in" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24313.215380891517!2d49.86191205!3d40.3833254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1628778602654!5m2!1sen!2s" width="100%" height="644px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                            </div>
                        </div>
                        <div data-aos="fade-in" class="col-md-6">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Contact Us</h3>

                                <form enctype="multipart/form-data" asp-action="index" asp-controller="contact" method="post" i class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color: black;" class="label" asp-for="FullName">Full Name</label>
                                                <input class="form-control" id="name" asp-for="FullName" placeholder="Full Name">
                                                <span asp-validation-for="FullName"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color: black;" class="label" asp-for="Email">Email Address</label>
                                                <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                                                <span asp-validation-for="Email"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label style="color: black;" class="label" asp-for="Subject">Subject</label>
                                                <input type="text" class="form-control" asp-for="Subject" placeholder="Subject">
                                                <span asp-validation-for="Email"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label style="color: black;" class="label" asp-for="Message">Message</label>
                                                <textarea name="message" class="form-control" asp-for="Message" cols="30" rows="4" placeholder="Message"></textarea>
                                                <span asp-validation-for="Message"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Send Message" class="btn bbn btn-primary btnmesagge ">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
