<section data-aos="fade-up" class="helplinesec helplineabout">
    <div class="helpline">
        <div class="helpline-div">
            <div class="icon-help"><i class="bi bi-truck icon-last icon-last1"></i></div>
            <div class="icon-text">
                <h3 class="last-h3">Free Delivery</h3>
                <p class="last-p">Worldwide from $75</p>
            </div>
        </div>
        <div class="helpline-div">
            <div class="icon-help"><i class="bi bi-arrow-clockwise icon-last icon-last1"></i></div>
            <div class="icon-text">
                <h3 class="last-h3">EASY RETURNS</h3>
                <p>365 days for free</p>
            </div>
        </div>
        <div class="helpline-div">
            <div class="icon-help"><i class="bi bi-wallet2 icon-last icon-last1"></i></div>
            <div class="icon-text">
                <h3 class="last-h3">COMFORT PAYMENTS</h3>
                <p class="last-p">Credit Cards Available</p>
            </div>
        </div>
        <div class="helpline-div sondiv">
            <div class="icon-help"><i class="bi bi-gift icon-last icon-last1"></i></div>
            <div class="icon-text">
                <h3 class="last-h3">FREE GIFTS</h3>
                <p class="last-p">Get gifts and discounts</p>
            </div>
        </div>
    </div>
</section>