@using Core.Constants
@using Web.Areas.Admin.ViewModels.HomeMainSlider
@model HomeMainSliderCreateVM

<form enctype="multipart/form-data" asp-action="create" asp-controller="homemainslider" method="post">

    <label asp-for="Title">Title</label>
    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
       <div class="form-group">
        <label asp-for="SubDescription">SubDescription</label>
        <textarea class="form-control" asp-for="SubDescription"></textarea>
        <span asp-validation-for="SubDescription"></span>
    </div>
    <div class="form-group">
        <label asp-for="LearnUrl">LearnUrl</label>
        <input class="form-control" asp-for="LearnUrl"></input>
        <span asp-validation-for="LearnUrl"></span>
    </div>
    <div class="form-group">
        <label asp-for="MainPhoto">MainPhoto</label>
        <input class="form-control" asp-for="MainPhoto">
        <span asp-validation-for="MainPhoto"></span>
    </div>


    <button type="submit" class="btn btn-primary">Create</button>
   <a class="btn btn-danger" asp-action="index" asp-controller="homemainslider">Cancel</a>
</form>


@section Scripts{


    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
    <script>
        const properties = ["Description";

        properties.forEach(function myFunction(e) {

            ClassicEditor
                .create(document.querySelector(`#${e}`))
                .then(editor => {
                    console.log(editor);
                })
                .catch(error => {
                    console.error(error);
                });
        })
    </script>
}
