 <footer data-aos="fade-up" >
      <div class="foot">
        <div class=" foot-row">
          <div class="">
            <div class="ft-logo">
              <a href="#"><img src="https://www.ncodetechnologies.com/zooy/images/footer-logo.png" alt="ZOOY - Modern &amp; Beautiful Auto Parts HTML5 &amp; Bootstrap 4 Template"></a>
            </div>
            <div class="cmn-detail">
              <p><i class="bi bi-geo-alt-fill foot-icon"></i>F-25, 1960s with the release<br>of Letraset Gujarat, INDIA..</p>
              <p><i class="bi bi-envelope foot-icon"></i><a class="foot-a" href="mailto:support@zooy.com">support@zooy.com</a></p>
              <p><i class="bi bi-telephone-fill foot-icon"></i><a class="foot-a" href="tel:+0789123456">0 (789) 123-456</a></p>
              <p><i class="bi bi-clock foot-icon"></i>Mon. - Sat.<br>10:00 am - 20:00 pm</p>
            </div>
          </div>
         
            <div class="fotdu">
              <div class="">
                <div class="ftr-widget information">
                  <h3 class="widget-tit">Information</h3>
                  <ul style="padding-left: 0;" class="mb-0">
                    <li><a class="a2-foot" href="#">Shipping Policy</a></li>
                    <li><a class="a2-foot" href="#">Compensation First</a></li>
                    <li><a class="a2-foot" href="#">My Account</a></li>
                    <li><a class="a2-foot" href="#">Return Policy</a></li>
                    <li><a class="a2-foot" href="#">Check Outs</a></li>
                    <li><a class="a2-foot" href="#">Customer Feedback</a></li>
                  </ul>
                </div>
              </div>
              <div class="">
                <div class="ftr-widget custom-service">
                  <h3 class="widget-tit">Custom Service</h3>
                  <ul style="padding-left: 0;" class="mb-0">
                    <li><a class="a2-foot" href="#">Tems &amp; conditions</a></li>
                    <li><a class="a2-foot" href="#">Payment Methods</a></li>
                    <li><a class="a2-foot" href="#">Shipping &amp; returns</a></li>
                    <li><a class="a2-foot" href="#">Locations We Ship To</a></li>
                    <li><a class="a2-foot" href="#">Estimated Delivery Time</a></li>
                    <li><a class="a2-foot" href="#">Help Center</a></li>
                  </ul>
                </div>
              </div>
              <div class="">
                <div class="ftr-widget contactus">
                  <h3 class="widget-tit">CONTACT US</h3>
                  <ul style="padding-left: 0;"  class="mb-0">
                    <li><a class="a2-foot" href="#">About Us</a></li>
                    <li><a class="a2-foot" href="#">Contact Us</a></li>
                    <li><a class="a2-foot" href="#">Privacy Policy</a></li>
                    <li><a class="a2-foot" href="#">Site Map</a></li>
                    <li><a class="a2-foot" href="#">Tems &amp; conditions</a></li>
                    <li><a class="a2-foot" href="#">Faqs</a></li>
                  </ul>
                </div>
              </div>
             
          </div>
     
      </div>

    </footer>
    <section class="tural"  style="background-color: #fcb818; height: 50px; display: flex; justify-content: center; align-items: center;"><i class="bi bi-at"></i>turalismylv</section>
