@using Web.ViewModels.Account
@model AccountRegisterVM



<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="first-sec dealofday intro aos-init aos-animate">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">REGISTER</span></p>
        <h4 class="h4-intro">REGISTER</h4>
    </div>
</section>



<section class="login-sec">
    <div class="login-div">
        <div class="login-right">
            <div class="form-heading">
                <h2 class="form-tit">Create a New Account</h2>
                <p class="form-tit2">Add Your Personal Details</p>
            </div>
           <form class="register-form" method="post" asp-action="register" asp-controller="account">
                <div class="row">
                    <div class="col-12">
                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label style="display:none" asp-for="Email"></label>
                            <input asp-for="Email" type="email" class="form-control-1" placeholder="Email Adress *">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label style="display:none" asp-for="Username"></label>
                            <input asp-for="Username" class="form-control-1" placeholder="Username *">
                            <span asp-validation-for="Username"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label style="display:none" asp-for="Password"></label>
                            <input asp-for="Password" class="form-control-1" placeholder="Password *">
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label style="display:none" asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control-2" placeholder="ConfirmPassword *">
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn submit-btn register-btn">Register</button>
                </div>
            </form>


        </div>

        <div>
            <div class="login-left register-left">
                <h2 class="login-h2 register-h2">Already have an Account?</h2>
                <a class="btn btn1 btn-login" asp-action="login" asp-controller="account"><span>Login Now</span><i class="icon-next"></i></a>
            </div>
        </div>
    </div>

</section>