@{
    ViewData["Title"] = "VerifyEmail";
}

<div class="verify-container">
    <div class="alert alert-success my-5" role="alert">
        Please check your email !!!
    </div>
</div>

<style>
    .verify-container {
        width: 80%;
        margin: 0 auto;
        min-height: 62vh;
    }

    .alert {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color:#fcb818;
    }

</style>

