@using Core.Constants
@using Web.Areas.Admin.ViewModels.Blog
@model BlogUpdateVM

<form enctype="multipart/form-data" asp-action="create" asp-controller="blog" method="post">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text">Text</label>
    <textarea class="form-control" asp-for="Text"></textarea>
        <span asp-validation-for="Text"></span>
    </div>
    <div class="form-group">
        <label asp-for="Time">Time</label>
        <input asp-for="Time" />
        <span asp-validation-for="Time"></span>
    </div>
    <div class="form-group">
        <label asp-for="DetailTitle">DetailTitle</label>
        <input asp-for="DetailTitle" />
        <span asp-validation-for="DetailTitle"></span>
    </div>

    <div class="form-group">
        <label asp-for="DescriptionOne">DescriptionOne</label>
        <textarea class="form-control" asp-for="DescriptionOne"></textarea>
        <span asp-validation-for="DescriptionOne"></span>
    </div>
    <div class="form-group">
        <label asp-for="DescriptionTwo">DescriptionTwo</label>
        <textarea class="form-control" asp-for="DescriptionTwo"></textarea>
        <span asp-validation-for="DescriptionTwo"></span>
    </div>
    <div class="form-group">
        <label asp-for="DescriptionThree">DescriptionThree</label>
       <textarea class="form-control" asp-for="DescriptionThree"></textarea>
        <span asp-validation-for="DescriptionThree"></span>
    </div>
    <div class="form-group">
        <label asp-for="Paragraph">Paragraph</label>
        <textarea class="form-control" asp-for="Paragraph"></textarea>
        <span asp-validation-for="Paragraph"></span>
    </div>
    <div class="form-group">
        <label asp-for="MainPhoto">MainPhoto</label>
        <input class="form-control" asp-for="MainPhoto">
        <span asp-validation-for="MainPhoto"></span>
    </div>
    <div class="form-group">
        <label asp-for="Photo">Photo</label>
        <input asp-for="Photo" />
        <span asp-validation-for="Photo"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-danger" asp-action="index" asp-controller="blog">Cancel</a>
</form>



